<h1>Coffe Sales</h1>

* Import Libraries

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

* Load the dataset

In [7]:
df = pd.read_csv("Coffee sales in a vending machine.csv")

In [15]:
df.head() # Quick view of the data

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [19]:
df.info() # Check data types and missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3263 non-null   object
 1   datetime     3263 non-null   object
 2   cash_type    3263 non-null   object
 3   card         3174 non-null   object
 4   money        3263 non-null   float64
 5   coffee_name  3263 non-null   object
dtypes: float64(1), object(5)
memory usage: 153.1+ KB